
/* Secondary color */
$bluegrey: #263238;
$lightbluegrey: #4f5b62;
$darkbluegrey: #000a12;

$secondary: $bluegrey;
$lightsecondary: $lightbluegrey;
$darksecondary: $darkbluegrey;

$background: $secondary;

/* Primary color & accent */
$pink: #ff80ab;
$lightpink: #FCE4EC;
$darkpink: #c94f7c;

$primary: $pink;
$accent: $lightpink;
$accent2: $darkpink;

