$baseHeight: 0px;
$baseWidth: 0px;

.ball {
  height: $baseHeight;
  width: $baseWidth;
  border-radius: 100%;
  position: absolute;

  &.sm {
    height: $baseHeight;
    width: $baseWidth;
  }

  &.md {
    height: $baseHeight * 3;
    width: $baseWidth * 3;
  }

  &.lg {
    height: $baseHeight * 6;
    width: $baseWidth * 6;
  }

  &.xl {
    height: $baseHeight * 9;
    width: $baseWidth * 9;
  }
}

.ball {
  &.primary {
    background-color: $primary;
  }
  &.accent {
    background-color: $accent;
  }
  &.red {
    background: red;
  }
  &.green {
    background: green;
  }
  &.blue {
    background: blue;
  }
}
